<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzkj.dcsystem.dao.DcOrdersMapper">

    <select id="selectOrdersByUserId" resultMap="selectOrders" parameterType="DcUser">
        select
        orders_id,linkman,phone,create_date,note,store_address,user_address,combined,evaluation
        from dc_orders
        where user_id = #{userId}
    </select>
    <resultMap id="selectOrders" type="DcOrders">
        <id column="orders_id" property="ordersId"/>
        <result column="linkman" property="linkman"/>
        <result column="phone" property="phone"/>
        <result column="create_date" property="createDate"/>
        <result column="note" property="note"/>
        <result column="store_address" property="storeAddress"/>
        <result column="user_address" property="userAddress"/>
        <result column="combined" property="combined"/>
        <result column="evaluation" property="evaluation" />
    </resultMap>

    <select id="selectDcOrderByOrderId" resultMap="selectOrders" parameterType="String">
         select
        orders_id,linkman,phone,create_date,note,store_address,user_address,combined,evaluation
        from dc_orders
        where orders_id = #{ordersId}
    </select>



</mapper>