<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzkj.dcsystem.dao.DcOrdersMapper">

    <select id="selectOrders" resultMap="selectOrders" parameterType="com.zzkj.dcsystem.controller.utils.DcOrdersQueryVo">
        select
        orders_id,linkman,phone,create_date,note,store_address,user_address,combined,evaluation,finish_flag
        from dc_orders
        <where>
            <if test="linkman != null and linkman != ''">
                and linkman like #{linkman}
            </if>
            <if test="phone != null and phone != ''">
                and phone like #{phone}
            </if>
            <if test="startDate != null and startDate != ''">
                and create_date <![CDATA[>=]]> #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and create_date <![CDATA[<=]]> #{endDate}
            </if>
            <if test="finishFlag != null">
                and finish_flag = #{finishFlag}
            </if>
        </where>
    </select>


    <select id="selectOrdersByUserId" resultMap="selectOrders" parameterType="DcUser">
        select
        orders_id,linkman,phone,create_date,note,store_address,user_address,combined,evaluation,finish_flag
        from dc_orders
        where user_id = #{userId}
    </select>
    <resultMap id="selectOrders" type="DcOrders">
        <id column="orders_id" property="ordersId"/>
        <result column="linkman" property="linkman"/>
        <result column="phone" property="phone"/>
        <result column="create_date" property="createDate"/>
        <result column="note" property="note"/>
        <result column="store_address" property="storeAddress"/>
        <result column="user_address" property="userAddress"/>
        <result column="combined" property="combined"/>
        <result column="evaluation" property="evaluation" />
        <result column="finish_flag" property="finishFlag" />
    </resultMap>

    <select id="selectUnDcOrderByOrderId" resultMap="selectOrders" parameterType="String">
        select
        orders_id,linkman,phone,create_date,note,store_address,user_address,combined,evaluation,finish_flag
        from dc_orders
        where orders_id = #{ordersId} and finish_flag = false
    </select>

    <select id="getAllOrder" resultMap="selectOrders">
        select
        orders_id,linkman,phone,create_date,note,store_address,user_address,combined,evaluation,finish_flag
        from dc_orders
    </select>


</mapper>