<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzkj.dcsystem.dao.DcUserMapper">

    <insert id="insertUser" parameterType="DcUser">
        insert into
        dc_user(user_id, open_id, nick_name, gender,language, city, province, country, avatar_url)
        values
        (#{userId},#{openId},#{nickName},#{gender},#{language},#{city},#{province},#{country},#{avatarUrl})
    </insert>

    <select id="selectDcUserByOpenId" parameterType="String" resultType="DcUser">
        select user_id userId
        from dc_user
        where open_id = #{openid}
    </select>
</mapper>