<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>控制台</title>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/dashboard.css" rel="stylesheet"/>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/holder.js"></script>
    <script src="lib/vue.js"></script>
    <script src="lib/axios.js"></script>

    <style>
        .v-enter,
        .v-leave-to{
            opacity: 0;
            transform: translateY(100%);
         }
        .v-enter-active,
        .v-leave-active{
            transition:all 0.5s ease;
        }
        /*.component-fade-enter-active, .component-fade-leave-active {*/
            /*transition: opacity .3s ease;*/
        /*}*/
        /*.component-fade-enter, .component-fade-leave-to*/
            /*!* .component-fade-leave-active for below version 2.1.8 *! {*/
            /*opacity: 0;*/
        /*}*/
    </style>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="javascript:void(0)" class="navbar-brand">admin</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="javascript:void(0)">Dashboard</a></li>
                    <li><a href="javascript:void(0)">Settings</a></li>
                    <li><a href="javascript:void(0)">Profile</a></li>
                    <li><a href="javascript:void(0)">Help</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li :class="{'active':active[0]}"><a href="" @click.prevent="changeCom('listDishes',0),getDishesList()">菜品列表</a></li>
                    <li :class="{'active':active[1]}"><a href="" @click.prevent="changeCom('addDishes',1)">添加菜品</a></li>
                </ul>

                <ul class="nav nav-sidebar">
                    <li :class="{'active':active[3]}"><a href="" @click.prevent="changeCom('typeList',3),getTypeList()">类别列表</a></li>
                    <li :class="{'active':active[4]}"><a href="" @click.prevent="changeCom('addType',4)">添加类别</a></li>
                </ul>

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <transition  mode="out-in">
                    <component  :is="comName"  v-bind:typelist="typeList" v-bind:goodslist="goodsList" ></component>
                </transition>

            </div>
        </div>
    </div>
</div> <!--app-->

<!--菜品列表-->
<template id="listDishes">
    <div>
        <h2 class="sub-header">菜品列表</h2>
        <form class="form-inline">
            <div class="form-group">
                <label for="selectGoodsName">菜品名</label>
                <input v-model="goodsName" type="text" class="form-control" id="selectGoodsName" placeholder="菜品名">
            </div>
            <div class="form-group">
                <label >价格</label>
                <input v-model="startPrice" type="text" class="form-control">~<input v-model="endPrice" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>类别</label>
                <select v-model="selected" class="form-control">
                    <option disabled value="">请选择</option>
                    <option v-for="type in typelist"  :value="type.typeId">
                        {{type.typeName}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <button @click.prevent="selectgoods()" class="btn btn-default" >查询</button>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>菜品id</th>
                    <th>菜品名</th>
                    <th>价格</th>
                    <th>数量</th>
                    <th>图片</th>
                    <th>类型</th>
                    <th>详情</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(goods,index) in goodslist">
                    <td>{{index}}</td>
                    <td>{{goods.goodsId}}</td>
                    <td>{{goods.goodsName}}</td>
                    <td>{{goods.goodsPrice}}</td>
                    <td>{{goods.goodsTotal}}</td>
                    <td>
                        <a :href="goods.goodsImgUrl">图片</a>
                        <!--<img :src="goods.goodsImgUrl">-->
                    </td>
                    <td>{{goods.goodsType.typeName}}</td>
                    <td>{{goods.goodsDetails}}</td>
                    <td>
                        <button class="btn btn-default" @click="updateGoods(goods.goodsId)" >修改</button>
                        <button class="btn btn-default" @click="deletegoods(goods.goodsId)" >删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<!--添加菜品-->
<template id="addDishes">
    <div class="row">
        <div class="col-md-6">
            <h2 class="sub-header">添加菜品</h2>
            <form action="http://localhost:8080/dcsystem/addGoods" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="goodsName">菜品名</label>
                    <input type="text" name="goodsName" class="form-control" id="goodsName" placeholder="菜品名">
                </div>
                <div class="form-group">
                    <label for="goodsPrice">价格</label>
                    <input type="text" name="goodsPrice" class="form-control" id="goodsPrice" placeholder="价格">
                </div>
                <div class="form-group">
                    <label for="goodsTotal">数量</label>
                    <input type="text" name="goodsTotal" class="form-control" id="goodsTotal" placeholder="数量">
                </div>
                <div class="form-group">
                    <label>类别</label>
                    <select v-model="typeId" name="goodsType.typeId" class="form-control">
                        <option  value="">请选择</option>
                        <option v-for="type in typelist"  :value="type.typeId">
                            {{type.typeName}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">图片</label>
                    <input type="file" name="goodsImg" id="exampleInputFile">
                </div>
                <div class="form-group">
                    <label for="goodsDetails">详情</label>
                    <textarea type="text" name="goodsDetails" class="form-control" id="goodsDetails" placeholder="详情"></textarea>
                </div>
                <button type="submit" class="btn btn-default" >添加</button>
            </form>
        </div>
        </div>
</template>
<!--类别列表-->
<template id="TypeList">
    <div>
        <h2 class="sub-header">类别列表</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>类别id</th>
                    <th>类别名</th>
                    <th>菜品数量</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(type,index) in typelist">
                    <td>{{index}}</td>
                    <td>{{type.typeId}}</td>
                    <td>{{type.typeName}}</td>
                    <td>{{type.goodsNumber}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<!--添加类别-->
<template id="addType">
    <div class="row">
        <div class="col-md-6">
            <h2 class="sub-header">添加类别</h2>
            <form>
                <div class="form-group">
                    <label for="typeName">类别名</label>
                    <input type="text" v-model="typeName" class="form-control"  id="typeName" placeholder="类别名" >
                </div>
                <button @click.prevent="addtype()" class="btn btn-default" >添加</button>
            </form>
        </div>
    </div>
    </div>
</template>




    <script>
        //菜品列表
        var listDishes = Vue.component("listDishes",{
            template:"#listDishes",
            props:['goodslist','typelist'],
            data:function () {
                return {
                    selected:"",
                    goodsName:"",
                    startPrice:null,
                    endPrice:null
                }
            },
            methods:{
                updateGoods(goodsId){
                    window.location.href = "http://localhost:8080/dcsystem/preUpdateGoods?goodsId="+goodsId;
                },
                selectgoods(){
                    // alert(this.selected+"  "+this.goodsName+"  "+this.startPrice+"  "+this.endPrice);
                    var goodsname = this.goodsName;
                    var typeid = this.selected;
                    var startprice = this.startPrice;
                    var endprice = this.endPrice;
                    var vm = this;
                    $.ajax({
                        url:"http://localhost:8080/dcsystem/selectGoods",
                        type:"POST",
                        data:{
                            goodsName:goodsname,
                            typeId:typeid,
                            startPrice:startprice,
                            endPrice:endprice
                        },
                        success:function (data) {
                            // alert(data);
                            vm.goodslist = data;
                        }
                    });
                },
                deletegoods(id){
                    var vm = this;
                    if(confirm("你确定要删除该商品吗？")){
                        $.ajax({
                            url:"http://localhost:8080/dcsystem/deleteGoods",
                            type:"POST",
                            data:{
                                goodsId:id
                            },
                            success:function (data) {
                                 // alert(data);
                                 vm.goodslist = data;
                            }
                        });
                    }
                }
            }

        });
        //添加菜品
        var addDishes = Vue.component("addDishes",{
            template:"#addDishes",
            props:['typelist'],
            data:function () {
                return {
                    typeId:""
                }
            }
        });
        //添加类别
        var addType = Vue.component("addType",{
            template:"#addType",
            data:function () {
                    return {typeName:''}
                },
            methods:{
                addtype(){
                    var vm = this;
                    var name = this.typeName;
                    $.ajax({
                        url:"http://localhost:8080/dcsystem/addDcGoodsType",
                        type:"POST",
                        data:{typeName:name},
                        success:function (data) {
                            if (data){
                                alert("插入成功");
                                vm.typeName="";
                            }
                            else {
                                alert("该类别已存在");
                            }
                        }
                    });

                }
            }
        });
        //类别列表
        var typeList = Vue.component("typeList",{
            template:"#TypeList",
            props:['typelist']
        });

        var vm = new Vue({
            el:"#app",
            data:{
                comName:"listDishes",
                active:[true,false,false,false,false],
                typeList:null,
                goodsList:null,
            },
            created() {
                var vm = this;
                //页面初始化的时候请求一次服务端的菜品列表
                axios.post("http://localhost:8080/dcsystem/goodsList")
                    .then(function (res) {
                        vm.goodsList = res.data;
                    }).catch(function (res) {
                    alert(res+"错误");
                });
                //页面初始化的时候请求一次服务端的类别列表
                axios.post("http://localhost:8080/dcsystem/typeList")
                    .then(function (res) {
                        vm.typeList = res.data;
                    }).catch(function (res) {
                    alert(res+"错误");
                });
            },
            methods:{
                //改变模板
                changeCom(name,flag){
                    this.comName = name;
                    var i = 0;
                    for (i = 0;i < this.active.length;i++) {
                        if(i == flag){
                            this.active[i] = true;
                        }
                        else{
                            this.active[i] = false;
                        }
                    }
                },
                //获取类别列表
                getTypeList(){
                    var vm = this;
                    axios.post("http://localhost:8080/dcsystem/typeList")
                        .then(function (res) {
                            vm.typeList = res.data;
                        }).catch(function (res) {
                        alert(res+"错误");
                    })
                },
                //获取菜品列表
                getDishesList(){
                    var vm = this;
                    axios.post("http://localhost:8080/dcsystem/goodsList")
                        .then(function (res) {
                            vm.goodsList = res.data;
                        }).catch(function (res) {
                        alert(res+"错误");
                    })
                }
            }
        });
    </script>

</body>
</html>
